html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #eeeeee;
  font-family: Arial, Helvetica, sans-serif, black;
  margin: 0 auto; }

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: white; }

.nav-container {
  padding: 19px 400px;
  border-bottom: 1px solid #dedede; }

.nav-container__logo {
  zoom: 0.71; }

.nav-container__link,
.nav-container__link:link,
.nav-container__link:visited {
  font-size: 14px;
  padding: 30px 35px;
  text-align: center;
  text-decoration: none;
  color: #856cb8;
  font-weight: bold;
  box-sizing: border-box; }

.nav-container__link:hover {
  color: #4a6194;
  border-bottom: 2px solid #4a6194; }

.header {
  text-align: center;
  margin: 0 auto; }

.header__h1 {
  padding: 60px 400px;
  font-size: 48px;
  font-weight: normal; }

.header__input {
  margin: 0 200px;
  width: 100%;
  max-width: 200px; }

.header__select {
  margin: 0 200px;
  width: 100%;
  max-width: 200px; }
