.header {
  text-align: center;
  margin: 0 auto;
}

.header__h1 {
  padding: 60px 0;
  font-size: 48px;
  font-weight: normal;
}

.header__input {
  text-align: left;
  width: 320px;
  padding: 0 160px;
}
