.header {
  text-align: center;
  margin: 0 auto;
}

.header__h1 {
  padding: 60px 400px;
  font-size: 48px;
  font-weight: normal;
}

.header__input {
  margin: 0 360px;
  padding: 4px 0;
  width: 100%;
  max-width: 200px;
}

.header__select {
  margin: 0 360px;
  padding: 4px 0;
  width: 100%;
  max-width: 200px;
}
