.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: $navBackgroundColor;
}

.nav-container {
  @include defaultPadding;
}

.nav-container__logo {
  zoom: 0.7;
}

.nav-container__link {
  padding: 0 20px;
}
