.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: $navBackgroundColor;
}

.nav-container {
  padding: 19px 400px;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.nav-container__logo {
  zoom: 0.71;
}

.nav-container__link,
.nav-container__link:link,
.nav-container__link:visited {
  font-size: 14px;
  padding: 30px 35px;
  text-align: center;
  text-decoration: none;
  color: $linkColor;
  font-weight: bold;
  box-sizing: border-box;
}

.nav-container__link:hover {
  color: rgb(74, 97, 148);
  border-bottom: 2px solid rgb(74, 97, 148);
}
